html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.m0 { margin: 0; }
.p0 { padding: 0; }

#panel {
    background-color: white;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 50px;
    z-index: 1000;
}
.restaurant-cont {
    height: 200px;
    overflow: auto;
}
#map {
    height: 100%;
    width: 100%;
}
#report {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    display: none;
    position: absolute;
    right: 50px;
    top: 10px;
}

.section-head {
    background-color: #EA4335;
    color: white;
    padding: 5px;
}
.section-cont {
    padding: 5px 5px 10px 5px;
}
.overflow-cont {
    height: 100px;
    overflow-y: scroll;
}
.get-direction, a:-webkit-any-link {
    color: #427fed;
    text-decoration: none !important;
}
